
@import url('https://fonts.googleapis.com/css?family=Arvo');

.item {
  margin: 20px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.item .image-container {
  position: relative;
  background: #ccc;
  min-height: 150px;
  overflow: hidden;
}
.item .image-container .btn-favorite,
.item .image-container .btn-trash {
  position: absolute;
  top: 10px;
  left: -40px;
  color: white;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  opacity: 0;
  cursor: pointer;
  z-index: 1020;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all .5s ease-in-out; /** Firefox **/
  -o-transition: all .5s ease-in-out; /** Opera **/
}
.item .image-container:hover .btn-favorite,
.item .image-container:hover .btn-trash {
  left: 10px;
  display: block;
  opacity: .9;
  cursor: pointer;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all .5s ease-in-out; /** Firefox **/
  -o-transition: all .5s ease-in-out; /** Opera **/
}
.item .image-container .btn-favorite.active {
  position: absolute;
  top: 10px;
  left: 430px;
  opacity: 1;
  color: red;
  cursor: auto;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all .5s ease-in-out; /** Firefox **/
  -o-transition: all .5s ease-in-out; /** Opera **/
}
.item .image-container img {
  width: 100%;
}
.item .image-container img {
  width: 100%;
  vertical-align: middle;
}
.item h2{
  color: #000;
  font-family: 'Arvo', serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 24px;
  padding: 2px 18px 7px
}
.item .item-footer {
  color: #999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18px;
  padding: 20px;
  border-top: 1px solid #ccc;
}
